  body{
    background: #E5E5E5;
  }
  #workspace{
    overflow: hidden;
    margin: 0;
    padding:0;
  }
  #workspace li{
    background: #fff;
    display: inline-block;
    width: 16em;
    height: 4em;
    padding: 2.5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #888;
    margin: 0.5em;
    overflow: scroll;
  }